<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let usuario of this.usuarios">
    <div class="card">
      <img
        [src]="usuario.avatar"
        class="card-img-top"
        [alt]="usuario.first_name"
      />
      <div class="card-body">
        <h5 class="card-title">
          {{ usuario.first_name }} {{ usuario.last_name }}
        </h5>
        <p class="card-text">This content is a little bit longer.</p>
        <p class="text-muted">{{ usuario.id }} - {{ usuario.email }}</p>
      </div>
    </div>
  </div>
</div>
